*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

body{
    color: white;
}

header{
    display: flex;
    justify-content: flex-end;
}

.top_sw{
    text-align: center;
    margin: 3px 10px 0 0;
    padding: 3px 0;
    width: 6%;
    height: 25px;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    background-color: #4a4a4a;
}

.top_enlarge{
    text-align: center;
    margin: 3px 3px 0 0;
    padding: 3px;
    width: 22px;
    height: 25px;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    background-color: #4a4a4a;
}

.users{
    display: flex;
}