/* Istructions */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-color: black;
}

header{
    height: 65px;
    display: flex;
    justify-content: flex-end;
}

/* /Istructions */


/* Header */

.top_sw{
    text-align: center;
    margin: 3px 10px 0 0;
    padding: 3px 0;
    width: 6%;
    height: 25px;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    background-color: #4a4a4a;
}

.top_enlarge{
    text-align: center;
    margin: 3px 3px 0 0;
    padding: 3px;
    width: 22px;
    height: 25px;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    background-color: #4a4a4a;
}

/* /Header */


/* Main */

.users{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 5px;
}


.image{
    background-image: url("https://picsum.photos/245/140");
    height: 140px;
    width: 245px;
    display: flex;
    align-items: end;
}

.name{
    color:white;
    background-color: rgba(95, 106, 119, 0.7);
    padding:2px;
}

/* /Main */

footer{
    background-color: rgba(95, 106, 119, 0.7);
    bottom: 0;
    width: 100vw;

}

.flex{
    display: flex;
    flex-flow: column;
}

.footer_bkg{
    height: 30px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    width: 100vw;
}

.txt{
 
}

/* Specific */

.mute{

}